body {
    background-color: #434161;
    font-family:"Courier New",
        Courier,
        monospace;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

h2 {
    color: #ffffff;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

p {
    color: #ffffff;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.pdf-container {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 75px;
    /* Adjust spacing between items */
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 50px;
    /* Adjust font size */
}

.nav-link:hover {
    color: red;
    /* Change colour on hover*/
}

ul {
    list-style-type: disc;
    /* Style for main bullet points */
    color: white;
    /* Font color for main bullet points */
    font-size: 1.5em;
    /* Font size for main bullet points */
}

/* Styling for sub bullet points */
ul ul {
    list-style-type: circle;
    /* Style for sub bullet points */
    font-size: 1em;
    /* Font size for sub bullet points */
    color: white;
    /* Font color for sub bullet points */  
    margin-bottom: 10px; 
    /* Adjust spacing between items */
}

/* Styling for embedded links */
a {
    color: white;
    /* Default color for links */
    text-decoration: none;
    /* Remove underline */
}

/* Styling for embedded links when hovered */
a:hover {
    color: red;
    /* Color for links when hovered */
}

